<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Welcome to the SpaceBar{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-5">
    <a class="navbar-brand space-brand ml-3" href="{{ path('app_homepage') }}">The Space Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            {% if is_granted('ROLE_USER') %}
                <li class="nav-item dropdown mr-3">
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_register') }}">Register</a>
                    <a class="nav-link text-white" href="{{ path('app_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% block body %}{% endblock %}
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">Made with </span>
    </div>
</footer>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
{% endblock %}
</body>
</html>